
      body {
        background: url(../images/Bg01.png) repeat-x;
        background-color: #f6f6f6;
        background-position: 50% 100px; 
      }
      #container{width: 1000px; margin: 0 auto}
      .logo {
        height: 80px;
        padding-top: 20px;
      }
      .logo img {
        float: left;
      }
      .logo strong {
        border-left: 1px solid #808080;
        color: #808080;
        float: left;
        font-family: Microsoft YaHei,Hiragino Sans GB,宋体;
        font-size: 24px;
        font-weight: 100;
        height: 24px;
        line-height: 24px;
        margin: 15px 0 0 20px;
        padding: 0 0 2px 10px;
      }

      .loginWrap{
        background-image: url(../images/login_hg.jpg);
        background-position: 0px 40px;
        background-repeat: no-repeat;
        width: 960px;
        min-height: 500px;
        margin: 0 auto;
      }
      .loginBox{
        float:right;
        width:340px;
        z-index:99;
        position:relative;
        margin-top:80px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
      }
      .form-signin header {
        padding: 15px 13px;
        margin: 0;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: rgba(0,0,0,.1);
        background: rgba(248,248,248,.9);
      }
      .form-signin footer {
        display:block;
        padding: 7px 14px 15px;
        border-top: 1px solid rgba(0,0,0,.1);
        background: rgba(248,248,248,.9);
        text-align: right;;
      }
      .form-signin footer .btn {
        
        height: 31px;
        margin: 10px 0 0 5px;
        padding: 0 22px;
      }
      .form-signin .form-body{
        padding: 20px 30px;
        height: 200px;
      }
      .form-signin .form-body .note{
        margin-top: 10px;
        padding: 0 1px;
        font-size: 11px;
        line-height: 15px;
        color: #999;
      }
      .form-signin .form-body .note a{
       font-size: 13px;
      }
 