
      body {
        background-color: #f6f6f6;
        /*background: url(../images/main-bg.png) repeat-x;*/
      }
      #container{width: 1000px; margin: 0 auto}
      .logo {
        background: url(../images/logo.jpg) no-repeat;
        background-position: 0 20px; 
        height: 80px;
      }
      

      .loginWrap{
        background-image: url(../images/login_hg.jpg);
        background-repeat: no-repeat;
        width: 960px;
        min-height: 412px;
        margin: 0 auto;
      }
      .loginBox{
        float:right;
        width:340px;
        z-index:99;
        position:relative;
        margin-top:40px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
      }
      .form-signin header {
        padding: 15px 13px;
        margin: 0;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: rgba(0,0,0,.1);
        background: rgba(248,248,248,.9);
      }
      .form-signin footer {
        display:block;
        padding: 7px 14px 15px;
        border-top: 1px solid rgba(0,0,0,.1);
        background: rgba(248,248,248,.9);
        text-align: right;;
      }
      .form-signin footer .btn {
        
        height: 31px;
        margin: 10px 0 0 5px;
        padding: 0 22px;
      }
      .form-signin .form-body{
        padding: 20px 30px;
        height: 200px;
      }
      .form-signin .form-body .note{
        margin-top: 10px;
        padding: 0 1px;
        font-size: 11px;
        line-height: 15px;
        color: #999;
      }
      .form-signin .form-body .note a{
       font-size: 13px;
      }
 